
@{
    ViewBag.Title = "QuanAoBeTrai";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listsp = ViewBag.listsp;
}

    <div class="row justify-content-center">
        @foreach (var item in listsp)
        {
            <div class=" card m-2 col-md-3 text-center">
                <a href="/Nam/ChiTietSanPham?id= @item.MaSanPham"><img class="card-img-top" style=" object-fit:cover; margin-left: auto; margin-right: auto; display: block; width: 100%; height: 200px" src="/@item.LinkAnh" alt="Card image cap"></a>


                <div class="card-body">
                    <h5 class="card-title" style="font-size:15px;"><a href="/Nam/ChiTietSanPham?id= @item.MaSanPham">@item.TenSanPham</a></h5>
                    <p class="card-text redtext" style="font-size:13px;">@item.Gia VND</p>
                    <p><input type="text" class="form-control" placeholder="1" aria-label="" aria-describedby="basic-addon1"><a href="#" style="background-color: deeppink !important;" class="mt-1 btn btn-danger">Mua ngay</a></p>
                </div>
            </div>
        }

    </div>

