
@{
    ViewBag.Title = "NhapThongTinDatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    td{
        font-size:12px;
    }
</style>
<h2>Mua Hàng</h2>
<table  class="border-page">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/shopping_cart/style.css" rel="stylesheet" type="text/css" /></head>
    <form name="AddressForm" method="post" action="/b-vn-64-0/gio-hang/mua-hang.html" onSubmit="return SubmitSignUp();">
        <input name="sum_price" value="0" type="hidden">
        <table class="table table-sm" border="0" cellpadding="2" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td class="tieu_de"><strong>Địa chỉ nhận hàng</strong></td>
                </tr>
            </tbody>
        </table>
        <table class="CenterColumn" border="0" cellpadding="5" cellspacing="0" width="97%">
            <tbody>
                <tr>
                    <td>
                        <table class="ProductListing" border="0" cellpadding="2" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="150" align="right" class="text_def" style="font-size:12px">Họ tên:</td>
                                    <td>
                                        <input name="ShippingName" type="text" style="font-size:12px" class="textfield" size="30" maxlength="50">
                                        <span class="style6">*</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150" align="right" class="text_def">Địa chỉ:</td>
                                    <td>
                                        <input name="ShippingAddress1" type="text" class="textfield" size="50" maxlength="255">
                                        <span class="style6">*</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="right" class="text_def">Email:</td>
                                    <td>
                                        <input name="ShippingEmail" type="text" class="textfield" id="ShippingEmail" size="50" maxlength="255" />
                                        *
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150" align="right" class="text_def">Điện thoại:</td>
                                    <td class="small">
                                        <input name="ShippingPhone1" type="text" class="textfield" size="20" maxlength="20">
                                        <span class="style6">  (Ví dụ. 08+62786199)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="160" align="right" class="text_def">Điện thoại di động:</td>
                                    <td class="small">
                                        <input name="ShippingPhone2" type="text" class="textfield" size="20" maxlength="20">
                                        *  (Ví dụ. 0933809800)
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150" align="right" class="text_def">&nbsp;</td>
                                    <td class="style6">
                                        <input name="SameAddress" value="ON" onClick="SameAddressCheck();" type="checkbox">
                                        Kích vào đây nếu địa chỉ thanh toán giống như địa chỉ nhận hàng.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm" id="BillingTitle" border="0" cellpadding="2" cellspacing="0" width="97%">
            <tbody>
                <tr>
                    <td class="border_b tieu_de "><strong>&#272;&#7883;a ch&#7881; thanh to&aacute;n </strong></td>
                </tr>
            </tbody>
        </table>
        <table id="BillingAddress" class="CenterColumn" border="0" cellpadding="5" cellspacing="0" width="97%">
            <tbody>
                <tr>
                    <td>
                        <table class="ProductListing" border="0" cellpadding="2" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="150" align="right" class="text_def">H&#7885; t&ecirc;n: </td>
                                    <td>
                                        <input name="BillingName" type="text" class="textfield" size="30" maxlength="50">
                                        <span class="style6">*</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150" align="right" class="text_def">&#272;&#7883;a ch&#7881;: </td>
                                    <td>
                                        <input name="BillingAddress1" type="text" class="textfield" size="50" maxlength="255">
                                        <span class="style6">*</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="right" class="text_def">Email: </td>
                                    <td>
                                        <input name="BillingEmail" type="text" class="textfield" id="BillingEmail" size="50" maxlength="255" />
                                        *
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150" align="right" class="text_def">&#272;i&#7879;n tho&#7841;i: </td>
                                    <td class="small">
                                        <input name="BillingPhone1" type="text" class="textfield" size="20" maxlength="20">
                                        <span class="style6"> (V&iacute; d&#7909;. 08+62786199)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150" align="right" class="text_def">&#272;i&#7879;n tho&#7841;i di &#273;&#7897;ng: </td>
                                    <td class="small">
                                        <input name="BillingPhone2" type="text" class="textfield" size="20" maxlength="20">
                                        &nbsp;* (V&iacute; d&#7909;. 0933809800)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="ProductListing" border="0" cellpadding="2" width="96%">
            <tbody>
                <tr>
                    <td align="right" width="150">&nbsp;</td>
                    <td>
                        <input name="Submit" type="submit" class="nut_nhan_2" value="Tiếp tục" />
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td height="5"></td>
                </tr>
            </tbody>
        </table>
        <input name="payment_id" value="1" type="hidden" />
    </form></td>
    </tr>
</table>
<script>
    Boolean check = false;
    function SameAddressCheck()
    {
        if (check == false)
            check = true;
        else
            check = false;
    }
</script>