
@{
    ViewBag.Title = "Quanlytin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="margin-left: 30px !important">Danh sách tin tức <a href="/Quyen/AddNews"><button type="button" class="btn btn-outline-danger">Thêm tin mới</button></a> </h2>
<div class="row p-5">
    @foreach (var item in Model)
    {
        <div class=" card  col-md-4 text-center">


            <a href="/Quyen/DetailsNew?id= @item.MaTinTuc"><img class="card-img-top" style=" text-align:center; display: block; width: 100%; height: 250px;object-fit:cover;" src="/@item.LinkAnh" alt="Card image cap"></a>

            <div class="card-body">
                <h5 class="card-title" style="font-size:15px; text-align:center"><a href="/Quyen/DetailsNew?id=@item.MaTinTuc">@item.TieuDe</a></h5>
                <p class="text-center"><a href="/Quyen/editNews?id=@item.MaTinTuc" class="mt-1 btn btn-success">Sửa</a><a href="/Quyen/deleteNews?id= @item.MaTinTuc" style="background-color: deeppink !important;margin-left: 11px !important" class=" mt-1 btn btn-danger">Xóa</a></p>
            </div>
        </div>
    }
</div>

