
@{
    ViewBag.Title = "ChitietTT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="background-color:aquamarine;">Chi tiết tin tức</h3>
<div class="row">
    <div class="col-md-12" >
              <h2>@ViewBag.tt.TieuDe</h2>
              <img style="width:100%;height:auto;" src="https://cf.shopee.vn/file/dad2a7f435f27c7cd50495476216af2f" />
              <p>@ViewBag.tt.NoiDung</p>
    </div>
</div>

