
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="border_page">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" valign="middle" class="table_newscat text_def" style="padding-left: 8px;">
                       
                        </td>
                    </tr>
                </table>
                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td class="title_page" valign="middle">CÁCH ĐẶT HÀNG.</td>
                    </tr>
                </table>
               
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="20" colspan="2" align="center" valign="top" class="product_detail">&nbsp;</td>
                        <form style="margin: 0px;" name="shopping" method="post" action="http://quanaobaochau.com/bcart-vn-70-0-24925/them-vao-gio-hang.html">
                    </tr>
                    <tr>
                        <td align="center" width="220" valign="top" class="border_table" style="padding-right: 5px; padding-left: 5px; padding-top: 5px;">
                            <table width="220" border="0">
                                <tr>
                                    <td align="center" valign="middle" class="makers_detail">
                                        <a href="#" title="Đặt Hàng Bảo Châu">
                                            <img src="~/Assests/dathang.jpg" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0">
                                <tr>
                                    <td align="center" class="gia" height="17"></td>
                                </tr>
                                <tr>
                                    <td height="17" align="center" valign="bottom" class="gia">
                                        <input type="text" name="qty" size="3" maxlength="4" value="1" class="textfield" onKeyDown="AcceptNumbersOnly();" style="width: 40px;" />
                                        <input type="submit" value="Đặt hàng" class="nut" align="absmiddle" border="0" ">
                                        <input type="hidden" name="id" value="24925" />
                                        <input type="hidden" name="query" value="lg=vn&id_pproductv=24925&start=0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="text_def" height="17"></td>
                                </tr>
                            </table>
                        </td>
                        <td width="80%" valign="top" style="padding-left: 8px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="18" valign="middle" class="title_3" style="padding-bottom: 5px;">Đặt Hàng Bảo Châu</td>
                                </tr>
                                <tr>
                                    <td height="18" valign="middle" class="title_2" style="padding-bottom: 5px; color:#FF0000">MSP: </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="35%" valign="middle" class="block_4_title border_b">

                                        <img width="10" height="10" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-vector-heart-beat-icon-png-image_3782830.jpg" />
                                        <strong>Tình trạng:</strong>
                                    </td>
                                    <td height="18" valign="middle" class="border_b gia redtext">Có hàng</td>
                                </tr>
                                <tr>
                                    <td valign="middle" class="block_4_title border_b"><img width="10" height="10"  src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-vector-heart-beat-icon-png-image_3782830.jpg" align="absmiddle"><strong>Số lượt xem:</strong></td>
                                    <td height="18" valign="middle" class="border_b"><span class="gia redtext">45,012</span></td>
                                </tr>
                            </table>
                            </form>
                        </td>
                    </tr>
                </table>
                <div class="thongtin_sp">
                    <h3 style="background-color:cornflowerblue;font-size: 17px;padding:5px;color:darkblue;" >Thông tin sản phẩm</h3>
                    <div class="noi_dung_thongtin"></div>
                </div>
                <div class="thong_tin_product">
                    <ul id="maintab" class="shadetabs">
                        <li><a href="#default" rel="ajaxcontentarea">Thông tin sản phẩm</a></li>
                    </ul>
                    <div>
                        <div id="specs-list">
                            &nbsp;<span style="color: rgb(0, 101, 204); font-size: 18px; font-weight: bold;">HƯỚNG DẪN C&Aacute;CH MUA H&Agrave;NG QUA MẠNG</span>
                            <div style="color: rgb(51, 51, 102); padding-bottom: 10px;"><b>&nbsp;</b></div>
                            <div style="color: rgb(51, 51, 102);">
                                <div style="padding: 0px; margin: 0px; font-stretch: normal; font-size: 18px; line-height: 22px;"><b><font size="5"><span style="color: rgb(51, 102, 255);">C&Aacute;C BƯỚC ĐẶT H&Agrave;NG - MUA H&Agrave;NG QUA INTERNET</span></font></b></div>
                               
                                <div>
                                    <span style="font-size: large;">
                                        <span style="padding: 0px; line-height: 22px; margin: 0px; color: rgb(51, 51, 51);">
                                            <div style="padding: 0px; margin: 0px;">
                                                <ul style="padding: 0px; margin: 0px 0px 0px 20px;">
                                                    <li style="padding: 0px; margin: 0px;"><span style="padding: 0px; margin: 0px;"><b style="padding: 0px; margin: 0px;">Bước 1</b><strong style="padding: 0px; margin: 0px;">&nbsp;:</strong>&nbsp; Chọn mặt h&agrave;ng bạn quan t&acirc;m để xem c&aacute;c th&ocirc;ng tin về mặt h&agrave;ng, h&igrave;nh ảnh, gi&aacute; cả, phụ kiện, ch&iacute;nh s&aacute;ch mua h&agrave;ng ...</span></li>
                                                    <li style="padding: 0px; margin: 0px;"><span style="padding: 0px; margin: 0px;"><b style="padding: 0px; margin: 0px;">Bước 2</b><strong style="padding: 0px; margin: 0px;">&nbsp;:&nbsp;</strong>&nbsp;Khi&nbsp; muốn mua sản phẩm n&agrave;o nhấn chuột v&agrave;o n&uacute;t&nbsp; &quot;<span style="color: rgb(255, 0, 0);"><span style="font-weight: bold;">ĐẶT H&Agrave;NG</span></span>&quot; , hệ thống sẽ đưa mặt h&agrave;ng bạn chọn v&agrave;o giỏ h&agrave;ng. Bạn c&oacute; thể quay ra th&ecirc;m mặt h&agrave;ng kh&aacute;c, hoặc tặng số lượng cho mặt h&agrave;ng vừa chọn vv</span></li>
                                                    <li style="padding: 0px; margin: 0px;"><span style="padding: 0px; margin: 0px;"><b style="padding: 0px; margin: 0px;">Bước 3 :&nbsp;</b>&nbsp;Khi đ&atilde; chọn đủ số h&agrave;ng ấn n&uacute;t &quot;<strong style="padding: 0px; margin: 0px;"><span style="padding: 0px; margin: 0px; color: rgb(255, 0, 0);">Mua H&agrave;ng</span></strong>&quot;. Điền v&agrave;o c&aacute;c th&ocirc;ng tin cần thiết của bạn để ch&uacute;ng t&ocirc;i tiện li&ecirc;n hệ, vui l&ograve;ng g&otilde; ch&iacute;nh x&aacute;c v&agrave; c&oacute; dấu</span></li>
                                                    <li style="padding: 0px; margin: 0px;"><span style="padding: 0px; margin: 0px;"><b style="padding: 0px; margin: 0px;">Bước 4&nbsp;</b><strong style="padding: 0px; margin: 0px;">:</strong>&nbsp; Bấm n&uacute;t &quot;<span style="padding: 0px; margin: 0px; color: rgb(255, 0, 0);"><strong style="padding: 0px; margin: 0px;">Tiếp Tục</strong></span>&quot; để gửi đơn đặt h&agrave;ng, ch&uacute;ng t&ocirc;i sẽ trả lời qua email hoặc trực tiếp qua điện thoại ngay sau khi nhận được th&ocirc;ng tin của bạn để x&aacute;c nhận đơn đặt h&agrave;ng.</span></li>
                                                </ul>
                                            </div>
                                        </span>
                                    </span>
                                </div>
                                <ul>
                                    <li><span style="font-size: large;"><em><span style="text-decoration-line: underline;">Lưu &yacute;:</span></em>&nbsp;<em>Bạn cũng c&oacute; thể gọi điện thoại đến c&ocirc;ng ty ch&uacute;ng t&ocirc;i để đặt h&agrave;ng :</em><em>Điện Thoại :&nbsp;<span style="font-size: small;"><span style="font-weight: bold;"><span style="font-size: medium;"><span style="font-size: small;">(08) 62.560.579&nbsp;</span></span></span></span></em></span><span style="font-size: large;">- &nbsp;<em>&nbsp;Hotline&nbsp;</em>:&nbsp;<span style="font-size: x-small;"><span style="font-size: small;">Hotline 1:&nbsp;</span>&nbsp;</span><span style="font-weight: bold;"><span style="color: rgb(51, 102, 255);">0945.524.726</span></span></span></li>
                                    <li><span style="font-size: large;">Chat v&agrave; voice qua yahoo 1:&nbsp;<span style="color: rgb(255, 0, 0);"><span style="font-weight: bold;">quanaobaochau</span></span>&nbsp;+ Yahoo 2:</span></li>
                                    <li><span style="font-size: large;">Chat va voice qua skype:&nbsp;<span style="color: rgb(255, 0, 0);"><strong>quanaobaochau</strong></span></span></li>
                                    <li>
                                        <span style="font-size: medium;">
                                            <span style="font-size: large;">Nhắn tin SMS qua số điện thoại&nbsp;</span><br />
                                        </span>
                                    </li>
                                </ul>
                                <br />
                                <div><span style="color: rgb(0, 0, 255);"><span style="font-size: large;"><span style="color: rgb(51, 102, 255);"><span style="font-weight: bold;">PHƯƠNG THỨC THANH TO&Aacute;N</span></span></span></span></div>
                                <div>
                                    <span style="color: rgb(0, 0, 255);">
                                        <span style="font-size: large;">
                                            <strong>
                                                <br />
                                            </strong>
                                        </span>
                                    </span>
                                </div>
                                <ul>
                                    <li>
                                        <span style="font-size: large;"><strong>Thanh to&aacute;n trực tiếp :&nbsp;</strong>Kh&aacute;ch h&agrave;ng mua h&agrave;ng v&agrave; thanh to&aacute;n trực tiếp tại c&ocirc;ng ty theo địa chỉ :<font color="#000000"><strong><font color="#ff0000">30A Nguyễn Ph&uacute;c Chu, P 15, Q. T&acirc;n B&igrave;nh</font></strong>(</font><font color="#0000ff">Đối diện cổng Khu C&ocirc;ng Nghiệp T&acirc;n B&igrave;nh c&oacute; C&acirc;y xăng cửa h&agrave;ng C&aacute;ch đường trường chinh 50M)</font>&nbsp;, hoặc giao h&agrave;ng&nbsp; trong khu vực nội th&agrave;nh TP.Hồ Ch&iacute; Minh th&igrave; thanh to&aacute;n trực tiếp khi nhận h&agrave;ng.</span><span style="font-size: large;">
                                            <br />
                                        </span>
                                    </li>
                                    <li>
                                        <span style="font-size: large;">
                                            <strong>Thanh to&aacute;n qua t&agrave;i khoản ng&acirc;n h&agrave;ng</strong>&nbsp;<strong>:&nbsp;</strong>Đối với Qu&yacute; kh&aacute;ch h&agrave;ng ở xa (H&agrave; Nội, Hải Ph&ograve;ng, Đ&agrave; Nẵng.....) khi mua h&agrave;ng vui l&ograve;ng thanh to&aacute;n tiền h&agrave;ng&nbsp; trước (<span style="font-weight: bold;"><em><span style="color: rgb(255, 0, 0);">B&aacute;o cho c&ocirc;ng ty biết sau khi chuyển tiền xong</span></em>)</span>,rồi C&ocirc;ng ty sẽ chuyển h&agrave;ng Cho Qu&yacute; Kh&aacute;ch sau khi nhận được tiền.Qu&yacute; Kh&aacute;ch c&oacute; thể chọn thanh to&aacute;n tiền h&agrave;ng qua bất cứ t&agrave;i khoản ng&acirc;n h&agrave;ng n&agrave;o của Quần &Aacute;o&nbsp;<strong>Bảo Ch&acirc;u&nbsp;</strong>dưới đ&acirc;y m&agrave; thuận tiện cho qu&yacute; kh&aacute;ch nhất .&nbsp;<br />
                                        </span>
                                    </li>
                                </ul>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: medium;">
                                    <strong>
                                        <span style="color: rgb(255, 0, 0);">
                                            &nbsp;&nbsp;<br />
                                        </span>
                                    </strong>
                                </span> <span style="font-size: medium;">
                                    <strong>
                                        <br />
                                    </strong>
                                </span><span style="color: rgb(51, 102, 255);">
                                    <span style="font-size: medium;">
                                        <strong>
                                            PHƯƠNG THỨC VẬN CHUYỂN<br />
                                        </strong>
                                    </span>
                                </span>
                                <div><span style="font-size: large;"><strong>1.Giao H&agrave;ng Trong Nước</strong></span></div>
                                <div>
                                    <span style="font-size: large;">
                                        -&nbsp;<strong><em>Khu Vực Tp.Hồ Ch&iacute; Minh</em></strong><br />
                                    </span>
                                </div>
                                <div>
                                    <span style="font-size: large;">
                                        &nbsp;+ Đối Với Đơn h&agrave;ng c&oacute; gi&aacute; trị từ&nbsp;<strong><em>7.000.000&nbsp;đồng</em></strong>&nbsp;trở l&ecirc;n:&nbsp;<strong>Giao h&agrave;ng tận nơi miễn ph&iacute;</strong>&nbsp;trong nội Th&agrave;nh&nbsp; Tp Hồ Ch&iacute; Minh .<br />
                                    </span>
                                </div>
                                <div>
                                    <span style="font-size: large;">
                                        &nbsp;+ Đơn h&agrave;ng c&oacute; gi&aacute; trị<strong><em>&nbsp;dưới 7.000.000 đồng</em></strong>: Qu&yacute; kh&aacute;ch phải trả th&ecirc;m tiền ph&iacute; xe &ocirc;m (<em>từ 20.000 đồng - 100.000 đồng t&ugrave;y địa điểm</em>&nbsp;) khi giao h&agrave;ng.<br />
                                    </span>
                                </div>
                                <div><span style="font-size: large;"><em><strong>- C&aacute;c tỉnh/ th&agrave;nh kh&aacute;c</strong></em></span></div>
                                <div>
                                    <span style="font-size: large;">
                                        &nbsp;+ Đối Với Đơn h&agrave;ng c&oacute; gi&aacute; trị từ&nbsp;<strong><em>7.000.000&nbsp;đồng</em></strong>&nbsp;<em><strong>trở l&ecirc;n</strong></em>: C&ocirc;ng ty sẽ&nbsp;<strong>Giao h&agrave;ng miễn ph&iacute;</strong>&nbsp;ra Ch&agrave;nh Xe,T&agrave;u theo y&ecirc;u cầu của kh&aacute;ch h&agrave;ng (Nếu kh&aacute;ch h&agrave;ng đ&atilde; c&oacute; ch&agrave;nh xe,bưu điện,dịch vụ vận chuyển ri&ecirc;ng của m&igrave;nh) hoặc theo c&aacute;c dịch vụ vận chuyển của c&ocirc;ng ty&nbsp;<span style="color: rgb(255, 0, 0);">.Tiền ph&iacute; vận chuyển</span>&nbsp;từ ch&agrave;nh xe, bến t&agrave;u về đến nh&agrave; qu&yacute; kh&aacute;ch ,qu&yacute; kh&aacute;ch h&agrave;ng&nbsp;<span style="color: rgb(255, 0, 0);">phải thanh to&aacute;n cho nh&agrave; xe, t&agrave;u, hoặc dịch vụ vận chuyển&nbsp;</span>khi nhận h&agrave;ng.<br />
                                    </span>
                                </div>
                                <div><span style="font-size: large;">&nbsp;+ Đơn h&agrave;ng c&oacute; gi&aacute; trị<strong><em>&nbsp;dưới 7.000.000 đồng&nbsp;</em></strong>,Qu&yacute; kh&aacute;ch phải trả th&ecirc;m tiền ph&iacute; xe &ocirc;m&nbsp;<em>từ 20.000 đồng - 100.000 đồng t&ugrave;y địa điểm</em>&nbsp;của nh&agrave; xe, bến t&agrave;u.C&ograve;n<span style="color: rgb(255, 0, 0);">Tiền ph&iacute; vận chuyển</span>&nbsp;từ ch&agrave;nh xe, bến t&agrave;u về đến nh&agrave; qu&yacute; kh&aacute;ch ,qu&yacute; kh&aacute;ch h&agrave;ng&nbsp;<span style="color: rgb(255, 0, 0);">phải thanh to&aacute;n cho nh&agrave; xe, t&agrave;u, hoặc dịch vụ vận chuyển&nbsp;</span>khi nhận h&agrave;ng.</span></div>
                                <div><span style="font-size: large;">Một Số G&oacute;i cước vận chuyển của m&agrave; c&ocirc;ng ty thường xuy&ecirc;n Gửi h&agrave;ng cho qu&yacute; kh&aacute;ch h&agrave;ng ờ tỉnh (H&agrave; nội, Hải Ph&ograve;ng)</span></div>
                                <div><span style="font-size: large;">&nbsp;*&nbsp;<span style="color: rgb(255, 0, 255);">Chuyển t&agrave;u gi&aacute; 2500 VNĐ/Kg thời gian từ 2-3 ng&agrave;y tới nơi ( H&agrave; nội, Vinh...)(Gọi cho qu&yacute; kh&aacute;ch khi đến nơi,giao tận nơi&nbsp; )</span></span></div>
                                <div>
                                    <span style="font-size: large;">
                                        &nbsp;*<span style="color: rgb(255, 0, 255);">Vận Chuyển bằng may bay 1 ng&agrave;y tới th&igrave; gi&aacute; 16.000VNĐ/Kg (H&agrave;ng từ 10 kg trở l&ecirc;n).C&ograve;n dưới 10 kg gi&aacute; l&agrave; 150.000 VNĐ.(Gia tận nơi)</span><br />
                                    </span>
                                </div>
                                <div><span style="font-size: large;">&nbsp;*Vận Chuyển thường 4-6 ng&agrave;y tới th&igrave; gi&aacute; l&agrave; 6000VNĐ/Kg .(Giao tận nh&agrave;)</span></div>
                                <div><span style="font-size: large;">&nbsp;*Vận Chuyển theo dịch vụ Door to Door gia 3100VNĐ/kg ( Đơn h&agrave;ng 150Kg c&ograve;n dười&nbsp; th&igrave; t&ugrave;y theo số kg m&agrave; gi&aacute; tương tứng la 3600 VND/Kg,-10000VND.kg) 3-4 ng&agrave;y tới nơi (Giao tận nh&agrave;)</span></div>
                                <div>
                                    <span style="font-size: large;">
                                        &nbsp;*Vận Chuyển theo nh&agrave; xe như Ho&agrave;ng Long, Phượng ho&agrave;ng, Th&agrave;nh Bưởi, Phương Trang,T&ocirc; ch&acirc;u.,Phi Hiệp,hoa mai,To&agrave;n thắng.....ph&iacute; theo nh&agrave; xe.(Qu&yacute; kh&aacute;ch nhận h&agrave;ng v&agrave; thanh to&aacute;n)<br />
                                    </span>
                                </div>
                                <div>
                                    <span style="font-size: large;">
                                        <span style="text-decoration-line: underline;"><em>Lưu &yacute;:</em></span>&nbsp;<em>Gi&aacute; c&oacute; thể thay thay theo c&aacute;c nh&agrave; vận chuyển họ đưa ra.</em><br />
                                    </span>
                                </div>
                                <div><span style="font-size: large;"><strong>2.Giao H&agrave;ng Ngo&agrave;i Nước</strong></span></div>
                                <div><span style="font-size: large;">&nbsp;- Đối với qu&yacute; kh&aacute;ch h&agrave;ng nước ngo&agrave;i khi mua h&agrave;ng của c&ocirc;ng ty th&igrave; C&ocirc;ng ty chỉ chuyển ra đến bến cảng ,hoặc s&acirc;n bay cho qu&yacute; kh&aacute;ch .C&ograve;n mọi chi ph&iacute; vận chuyển,xuất cảng,hải quan... qu&yacute; kh&aacute;ch h&agrave;ng tự lo,hoăc tự thu&ecirc; c&aacute;c c&ocirc;ng ty l&agrave;m thủ tục xuất khẩu.</span></div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
               //Start Ajax tabs script for UL with id="maintab" Separate multiple ids each with a comma.
               startajaxtabs("maintab")
                    </script>
                </div>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td valign="middle">
                          
                        </td>
                    </tr>
                    <tr>
                        <td height="16"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

