@{
    ViewBag.Title = "Home Page";

}

    <div>
        <div class="w3-content w3-section" style="max-width:600px">
            <img height="300" class="mySlides" src="https://lh3.googleusercontent.com/proxy/m8ECohndIo8UgiTalLzPCkn59D4ul4EO69kAAhnNntnFQjlKuO9IwTrfKZhaF9D4fsjCycST0r8xmttzCdajrAKtwdHbO-uk-CpC4S3u2ZkiFzb-TP3zS4E7CXik" style="width:100%">
            <img height="300" class="mySlides" src="https://s3.envato.com/files/239751541/DOTO-457-Fashion%20Sale%20Banners_01_Preview4.jpg" style="width:100%">
            <img height="300" class="mySlides" src="https://i.pinimg.com/originals/7a/25/17/7a25176f434f9a130f2995ed2eb4f2e9.jpg" style="width:100%">
        </div>
        <h3>Sản phẩm bán chạy</h3>
        <div class="row justify-content-center">
            @for (int i = 0; i < 3; i++)
            {
                <div class=" card m-2 col-md-3 text-center">

                    <img class="card-img-top" style=" margin-left: auto; margin-right: auto; display: block; width: 70%; height: auto" src="https://bizweb.dktcdn.net/100/147/060/products/0723437ekb-001-6-115-jpeg.jpg?v=1478255344010" alt="Card image cap">

                    <div class="card-body">
                        <h5 class="card-title" style="font-size:15px;">Áo cộc kẻ ngang đen trắng</h5>
                        <p class="card-text redtext" style="font-size:13px;">250 000đ</p>
                        <p><input  type="text" class="form-control" placeholder="1"  aria-label="" aria-describedby="basic-addon1"><a href="#" style="background-color: deeppink !important;" class="mt-1 btn btn-danger">Mua ngay</a></p>
                    </div>
                </div>
            }

        </div>
        <h3>Tin tức</h3>
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4 text-center">
                    <img style="float:left; margin-top: 10px;" width="100" height="auto" src="https://image.freepik.com/free-vector/fashion-sale-banners-with-photo_52683-9828.jpg" />
                    <p style="font-size:12px;margin-top:15px;">Mua sỉ quần áo trẻ em xuất khẩu tại Gia Lai, Pleiku giá sỉ.</p>
                </div>
            }

        </div>
        <h3>Sản phẩm mới</h3>
        <div class="row justify-content-center">
            @for (int i = 0; i < 15; i++)
            {
            <div class=" card m-2 col-md-3 text-center">

                <img class="card-img-top" style=" margin-left: auto; margin-right: auto; display: block; width: 70%; height: auto" src="https://bizweb.dktcdn.net/100/147/060/products/0723437ekb-001-6-115-jpeg.jpg?v=1478255344010" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title" style="font-size:15px;">Áo cộc kẻ ngang đen trắng</h5>
                    <p class="card-text redtext" style="font-size:13px;">250 000đ</p>
                    <p><input type="text" class="form-control" placeholder="1" aria-label="" aria-describedby="basic-addon1"><a href="#" style="background-color: deeppink !important;" class="mt-1 btn btn-danger">Mua ngay</a></p>
                </div>
            </div>
            }

        </div>
    </div>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>